@import "../../../styles/variables";
@import "../../../styles/mixins/fontMixin";

.title {
  margin-bottom: 32px;
  width: 1200px;

  .title__text {
    @include HeadingOne();
    margin-bottom: 8px;
  }

  .title__subtext {
    max-width: 804px;
    @include TextBodyMedium($--neutral-600);
  }
}

@media screen and (max-width: 1240px) {
  .title {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .title {
    .title__text {
      @include HeadingTwo();
    }

    .title__subtext {
      @include TextSmallMedium($--neutral-600);
    }
  }
}
