@import "../../../styles/variables";
@import "../../../styles/mixins/fontMixin";

.add-recipe-step-one__title {
  @include HeadingTwo();
  margin-bottom: 24px;
}

.add-recipe-step-one__text {
  @include HeadingThree();
  margin-bottom: 8px;
}

.url-text {
  margin-bottom: 0;
}

.add-recipe-step-one__subtext {
  @include TextBodyMedium($--neutral-700);
  margin-bottom: 8px;
}

.add-recipe-step-one__input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 99px;
  border: 1px solid $--primary-25;
  background: $--neutral-100;
  @include TextBodyMedium($--neutral-700);
  margin-bottom: 24px;
}

.add-recipe-step-one__category-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 99px;
  border: 1px solid $--primary-25;
  background: $--neutral-100;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .add-recipe-step-one__category {
    border: none;
    outline: none;
    @include TextBodyMedium($--neutral-700);
  }
}
