@import "./fonts";
@import "./variables";
@import "./mixins/fontMixin";
@import "../pages/Home/Header/header";
@import "../assets/images/headerBackground";
@import "../pages/Home/SearchBar/searchBar";
@import "../pages/Home/SearchBar/SearchResult/searchResult";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
