@import "./fonts";
@import "./variables";
@import "./mixins/fontMixin";
@import "../components/Header/header";
@import "../assets/images/headerBackground";
@import "../assets/images/headerBackgroundRecipe";
@import "../components/SearchBar/searchBar";
@import "../components/SearchBar/SearchResult/searchResult";
@import "../components/CategorySection/categorySection";
@import "../pages/Recipes/recipes";
@import "../pages/Recipes/Notification/notification";
@import "../pages/Recipes/Title/title";
@import "../pages/Recipes/RecipeListings/RecipeFilter/recipeFilter";
@import "../pages/Recipes/RecipeListings/RecipeActions/recipeActions";
@import "../pages/Recipes/RecipeListings/RecipeActions/RecipeActionsSort/recipeActionsSort";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
