@import "../../styles/mixins/fontMixin";
@import "../../styles/variables";

.search-bar {
  display: flex;
  width: 745px;
  padding: 12px 16px 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 99px;
  border: 1px solid var(--primary-25, rgba(42, 132, 96, 0.25));
  background: var(--neutral-100, #fff);

  .search-bar__wrapper {
    display: flex;
    align-items: center;

    .search-bar__input {
      margin-left: 8px;
      @include TextBodyMedium(var(--neutral-600));
      border: none;
      outline: none;
    }
  }

  .search-bar__button {
    border: none;
    padding: 12px 24px;
    border-radius: 99px;
    background: var(--color-primary, #2a8460);
    @include HeadingFive(#ffffff);
    cursor: pointer;
  }
}
