@import "../../styles/mixins/fontMixin";
@import "../../styles/variables";

.search-ingredients {
  width: 480px;
  height: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  border-radius: 24px;
  border: 1px solid $--neutral-300;
  background: $--neutral-100;
  position: absolute;

  .search-ingredients__wrapper {
    display: flex;
    align-items: center;

    .search-ingredients__item-ingredient {
      margin-left: 12px;
      @include TextBodyMedium($--neutral-800);

      .search-ingredients__item-ingredient-bold {
        @include TextBodyBold($--neutral-800);
      }
    }
  }
}

.no-ingredients {
  height: 120px;
  gap: 10px;

  .no-ingredients__title {
    @include HeadingFive();
  }

  .no-ingredients__button {
    padding: 12px 24px;
    border-radius: 99px;
    background: $--color-secondary;
    @include HeadingFive($--neutral-100);
    border: none;
    outline: none;
  }
}
