$--color-primary: #2a8460;
$--color-secondary: #4a4995;
$--color-highlight: #f89e52;

$--primary-75: rgba(42, 132, 96, 0.75);
$--primary-50: rgba(42, 132, 96, 0.5);
$--primary-25: rgba(42, 132, 96, 0.25);
$--primary-10: rgba(42, 132, 96, 0.1);

$--secondary-75: rgba(74, 73, 149, 0.75);
$--secondary-50: rgba(74, 73, 149, 0.5);
$--secondary-25: rgba(74, 73, 149, 0.25);
$--secondary-10: rgba(74, 73, 149, 0.1);

$--highlight-75: rgba(248, 158, 82, 0.75);
$--highlight-50: rgba(248, 158, 82, 0.5);
$--highlight-25: rgba(248, 158, 82, 0.25);
$--highlight-10: rgba(248, 158, 82, 0.1);

$--color-success: #56c47b;
$--color-error: #ea4a5e;
$--color-info: #5c61e1;
$--color-warning: #f2a952;

$--color-heading: #095536;

$--neutral-800: #2c2c2c;
$--neutral-700: #575757;
$--neutral-600: #797979;
$--neutral-500: #afafaf;
$--neutral-400: #d7d7d7;
$--neutral-300: #d7d7d7;
$--neutral-200: #f5f5f5;
$--neutral-100: #fff;
