@import "../../styles/variables";
@import "../../styles/mixins/fontMixin";

.recipe-card-list {
  margin-top: 107px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .recipe-card-container {
    width: 1200px;
    margin-bottom: 84px;

    .recipe-card-container__title {
      @include HeadingTwo();
      margin-bottom: 45px;
    }

    .recipe-card__cards {
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1240px) {
  .recipe-card-list {
    .recipe-card-container {
      width: fit-content;
      padding: 0px 20px;

      .recipe-card__cards {
        flex-direction: column;
        width: fit-content;
      }
    }
  }
}
