@import "../../styles/mixins/fontMixin";
@import "../../styles/variables";

.admin-header {
  position: relative;
  display: flex;
  justify-content: center;

  .admin-header__background {
    width: 100%;
    height: 70px;
    background: $--primary-25;
  }

  .admin-header__background::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    background: inherit;
    border-radius: 0 0 50% 50%;
  }

  .admin-header__wrapper {
    position: absolute;
    top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .admin-header__link-logo-wrapper {
      width: 1200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 46px;

      .admin-header__logo {
        @include HeadingTwo($--color-primary);
        cursor: pointer;

        .admin-header__logo-dot {
          color: $--color-highlight;
        }
      }

      .admin-header__link-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;

        .admin-header__add-recipe-button {
          padding: 12px 24px;
          border-radius: 99px;
          border: 1px solid $--color-secondary;
          background: none;
          cursor: pointer;
          @include HeadingFive($--color-secondary);
        }

        .admin-header__add-ingredient-button {
          padding: 12px 24px;
          border-radius: 99px;
          border: none;
          background: $--color-secondary;
          @include HeadingFive($--neutral-100);
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .admin-header {
    .admin-header__wrapper {
      top: 19px;
      .admin-header__link-logo-wrapper {
        width: 100vw;
        padding: 0px 20px;
        margin-bottom: 23px;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .admin-header {
    .admin-header__wrapper {
      .admin-header__link-logo-wrapper {
        margin-bottom: 11px;

        .admin-header__logo {
          @include HeadingThree($--color-primary);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .admin-header {
    .admin-header__wrapper {
      .admin-header__link-logo-wrapper {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .admin-header {
    .admin-header__wrapper {
      .admin-header__link-logo-wrapper {
        .admin-header__link-wrapper {
          .admin-header__add-recipe-button,
          .admin-header__add-ingredient-button {
            padding: 6px 10px;
          }
        }
      }
    }
  }
}
